bin
cachedir
ant_build
*.jar
*.class
*.exe
*.log
*.html
.project
.pydevproject
.classpath
.scala_dependencies
.settings
.metadata
txtrevise.py
build.sh
build.bat
build.xml
Manifest.mf
GaudiApp.scala
GaudiPluginSupport.scala
