body 
{
	font-family: Verdana, Helvetica, sans-serif;
	font-size: 10pt;
}
div#master
{
	left: 3px;
	height: 100%;
	width: 5px;
	margin: 2px;
}
div#boxes
{
	position: absolute;
	margin: 25px;
	width: 50%;
}
div#navigation 
{
	position: absolute;
	top: 10px;
	padding: 4px;
	margin: 2px;
}
div#logo
{
	position: absolute;
	top: 120px;
}
a 
{
	text-decoration: underline;
	color: #080808;
}
a.navi 
{
	font-size: 12pt;
	padding: 2px;
	
}
a.inline, a.extern
{
	color: #484848;
}
a:hover 
{
	text-decoration: none;
}
img#photo
{
	top: 200px;
	margin: 4px;
	border: 1px solid #989898;
}
img#forkMe 
{
	position: absolute; 
	top: 0; 
	right: 0; 
	border: 0;
}
div#boxes 
{
	position: absolute;
	left: 30%;
	text-align: left;
}
div#description 
{
	position: relative;
	padding: 2%;
	margin: 2%;
	top: 40px;
	text-align: left;
	width: 430px;
	background-color: #FFFFCC;
	border: 1px solid #FFCC99;
}
div#features
{
	position: relative;
	padding: 2%;
	margin: 1%;
	top: 30px;
	text-align: left;
	width: 230px;
	background-color: #FFCC66;
	border: 1px solid #FF9933;
}
div#compatibility
{
	position: relative;
	padding: 2%;
	margin: 2%;
	top: -340px;
	left: 40%;
	text-align: left;
	width: 230px;
	background-color: #99CC66;
	border: 1px solid #669966;
	
}
div#footnote
{
	text-align: center;
	border: 2px solid #669966;
	background-color: #ffffff;
}
div#footer
{
	position: absolute;
	font-size: 8pt;
	padding: 2%;
	margin: 2%;
	top: 800px;
	left: 35%;
	text-align: left;
	width: 60%;
	color: #505050;
}
li
{
	padding: 4px;
}
acronym
{
	text-decoration: none;
	border-bottom: 1px dotted #000000;
}
/*body 
{
	font-family: Verdana, Helvetica, sans-serif;
	font-size: 10pt;
}
div#master
{
	left: 3px;
	height: 100%;
	width: 5px;
	margin: 2px;
}
div#boxes
{
	position: absolute;
	margin: 25px;
	width: 90%;
}
div#navigation 
{
	position: absolute;
	top: 10px;
	padding: 4px;
	margin: 2px;
}
div#logo
{
	position: absolute;
	top: 120px;
}
a 
{
	text-decoration: underline;
	color: #080808;
}
a.navi 
{
	font-size: 12pt;
	padding: 2px;
	
}
a.inline, a.extern
{
	color: #484848;
}
a:hover 
{
	text-decoration: none;
}
img#photo
{
	top: 200px;
	margin: 4px;
	border: 1px solid #989898;
}
img#forkMe 
{
	position: absolute; 
	top: 0; 
	right: 0; 
	border: 0;
}
div#description 
{
	position: absolute;
	padding: 2%;
	margin: 2%;
	top: 70px;
	left: 30%;
	text-align: left;
	width: 430px;
	background-color: #FFFFCC;
	border: 1px solid #FFCC99;
}
div#features
{
	position: absolute;
	padding: 2%;
	margin: 10px;
	top: 380px;
	left: 28%;
	text-align: left;
	width: 230px;
	background-color: #FFCC66;
	border: 1px solid #FF9933;
}
div#compatibility
{
	position: relative;
	padding: 1%;
	margin: 2%;
	top: 360px;
	left: 58%;
	text-align: left;
	width: 230px;
	background-color: #99CC66;
	border: 1px solid #669966;
	
}
div#footnote
{
	text-align: center;
	border: 2px solid #669966;
	background-color: #ffffff;
}
div#footer
{
	position: absolute;
	font-size: 8pt;
	padding: 2%;
	margin: 2%;
	top: 800px;
	left: 35%;
	text-align: left;
	width: 60%;
	color: #505050;
}
li
{
	padding: 4px;
}
acronym
{
	text-decoration: none;
	border-bottom: 1px dotted #000000;
}/*