/*
	Stylesheet for Gaudi project website
	Let's go crazy experimenting with ems
*/
body 
{
	font-family: Verdana, Helvetica, sans-serif;
	font-size: 10pt;
}
h2
{
	font-size: 1.5em;
}
a 
{
	text-decoration: underline;
	color: #080808;
}
a.navi
{
	font-size: 12pt;
	padding: 2em;
}
a.flink
{
	color: #505050;
}
a:hover 
{
	text-decoration: none;
}
img#photo
{
	float: left;
	padding: 1.5em;
}
img#forkMe 
{
	position: absolute; 
	top: 0em; 
	right: 0em; 
	border: 0em;
}
div#navigation
{
	text-align: center;
	padding: 1.5em;
}
div#description
{
	display: table;
	margin: auto;
	padding: 1em;
	text-align: left;
	background-color: #E3EAF2;
	border: 0.1em solid #E3EAF2;
	width: 40em; 
	/* In WebKit based browsers (Chrome, Safari), width here has to be 42em */
}
li
{
	padding: 0.5em;
}
div#features, #compatibility
{
	margin-top: 0.8em;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
	padding: 1em;
	background-color: #F0F0F0; 
	border: 0.1em solid #F0F0F0;
	width: 40em;
}	
div#footer
{
	display: table;
	margin-top: 2em;
	margin-left: auto;
	margin-right: auto;
	font-size: 8pt;
	color: #505050;
}
pre#repo
{
	width: 30em;
	background-color: #000000;
	color: #FFFFFF;
	border: 0.1em solid #FFFFFF;
}
acronym
{
	text-decoration: none;
	border-bottom: 1px dotted #000000;
}
